<div class='card'>
  <div class='card-body'>
    <div class='col-3' *ngFor='let stock of symbol'>
        <b>{{stock.company}} : {{stock.symbol}}</b>
    </div>
    <div class='col-7' *ngFor='let stock of symbol'>
        <p><b>Current Price:</b> ${{stock.price}}</p>
        <p><b>Percent Change:</b> {{stock.changePercent}}% </p>
        <p><b>Daily Gain/Loss:</b> ${{stock.change}} </p>       
    </div>
    <div class='col-2'>
        <button type='button' class='btn btn-primary' data-toggle='modal' data-target='#buyStock'>Buy</button>
        <button type='button' class='btn btn-primary' data-toggle='modal' data-target='#sellTSLA'>Sell</button>
      </div>
  </div>
</div>