<div class='card'>
  <div class='card-body'>
    <div class='show-hide-md row'>
    <div class='col-lg-3 col-md-12 rightBorder marginSpace' *ngFor='let stock of symbol'  id='stockHeader'>
        <b>{{stock.company}} : {{stock.symbol}}</b>
    </div>
    <div class='col-lg-7 col-md-12 marginSpace' *ngFor='let stock of symbol' id='stockInfo'>
        <p class='rightBorder'><b>Current Price:</b> ${{stock.price}}</p>
        <p class='rightBorder'><b>Percent Change:</b> {{stock.changePercent}}% </p>
        <p ><b>Daily Gain/Loss:</b> ${{stock.change}} </p>       
    </div>
    <div class='col-lg-2 col-md-12 marginSpace' id='stockButton'>
        <button type='button' class='btn btn-primary' data-toggle='modal' data-target='#buyStock' (click)='openBuyModal()'>Buy</button>
        <button type='button' class='btn btn-primary' data-toggle='modal' data-target='#sellStock' (click)='openSellModal()'>Sell</button>
      </div>

    </div>
  </div>
</div>