<body class='container'>
      <div class='form-group' id='searchBar'>
          <input type='text' [(ngModel)]='searchStockSymbol' class='form-control' 
          placeholder="Search for your own stocks (symbol required)" (keyup.enter)='searchStocks()' (keyup.enter)='updateChart()'>
    </div>  
    <div class='row' id='searchStock'>
        <app-stock-card class='col-12'  [symbol]="searchStockData"></app-stock-card>
        <canvas id="myChart" ></canvas>
    </div>

  <div class='row' id='stocks'>
      <canvas id="chartIndicators" ></canvas> 
    <app-stock-card class='col-12' [symbol]="TSLA"></app-stock-card>
    <app-stock-card class='col-12' [symbol]="AMZN"></app-stock-card>
    <app-stock-card class='col-12' [symbol]="FB"></app-stock-card>
  </div>
</body>

