<body class='container'>
  <div class='row' id='stocks'>
      <div class='card'>
          <div class='card-body'>
            <div class='col-3'>
                <b>{{stockName}}: {{stockID}}</b>
            </div>
            <div class='col-7'>
                <p><b>Current Price:</b> $$$$$</p>
                <p><b>Percent Change:</b> %%%%%</p>
                <p><b>Daily Gain/Loss:</b> $$$$$</p>
                <p><b>Total Gain/Loss:</b> $$$$$</p>
            </div>
            <div class='col-2'>
                <button type='button' class='btn btn-primary' data-toggle='' data-target=''>Buy</button>
                <button type='button' class='btn btn-primary' data-toggle='' data-target=''>Sell</button>
            </div>
          </div>
        </div>
        <div class='card'>
            <div class='card-body'>
              <div class='col-3'>
                  <b>{{stockName}}: {{stockID}}</b>
              </div>
              <div class='col-7'>
                  <p><b>Current Price:</b> $$$$$</p>
                  <p><b>Percent Change:</b> %%%%%</p>
                  <p><b>Daily Gain/Loss:</b> $$$$$</p>
                  <p><b>Total Gain/Loss:</b> $$$$$</p>
              </div>
              <div class='col-2'>
                  <button type='button' class='btn btn-primary' data-toggle='' data-target=''>Buy</button>
                  <button type='button' class='btn btn-primary' data-toggle='' data-target=''>Sell</button>
              </div>
            </div>
          </div>
          <div class='card'>
              <div class='card-body'>
                <div class='col-3'>
                    <b>{{stockName}}: {{stockID}}</b>
                </div>
                <div class='col-7'>
                    <p><b>Current Price:</b> $$$$$</p>
                    <p><b>Percent Change:</b> %%%%%</p>
                    <p><b>Daily Gain/Loss:</b> $$$$$</p>
                    <p><b>Total Gain/Loss:</b> $$$$$</p>
                </div>
                <div class='col-2'>
                    <button type='button' class='btn btn-primary' data-toggle='' data-target=''>Buy</button>
                    <button type='button' class='btn btn-primary' data-toggle='' data-target=''>Sell</button>
                </div>
              </div>
            </div>
  </div>

</body>
