<body class='container'>
  <div class='row' id='stocks'>
      <div class='card' >
          <div class='card-body'>
            <div class='col-3' *ngFor='let stock of TSLA'>
                <b>{{stock.company}} : {{stock.symbol}}</b>
            </div>
            <div class='col-7' *ngFor='let stock of TSLA'>
                <p><b>Current Price:</b> ${{stock.price}}</p>
                <p><b>Percent Change:</b> {{stock.changePercent}}% </p>
                <p><b>Daily Gain/Loss:</b> ${{stock.change}} </p>       
            </div>
            <div class='col-2'>
                <button type='button' class='btn btn-primary' data-toggle='modal' data-target='#buyTSLA'>Buy</button>
                <button type='button' class='btn btn-primary' data-toggle='' data-target=''>Sell</button>
            </div>
          </div>
        </div>
        <div class='card' >
          <div class='card-body'>
            <div class='col-3' *ngFor='let stock of AMZN'>
                <b>{{stock.company}} : {{stock.symbol}}</b>
            </div>
            <div class='col-7' *ngFor='let stock of AMZN'>
                <p><b>Current Price:</b> ${{stock.price}}</p>
                <p><b>Percent Change:</b> {{stock.changePercent}}% </p>
                <p><b>Daily Gain/Loss:</b> ${{stock.change}} </p>       
            </div>
            <div class='col-2'>
                <button type='button' class='btn btn-primary' data-toggle='modal' data-target='#buyAMZN'>Buy</button>
                <button type='button' class='btn btn-primary' data-toggle='' data-target=''>Sell</button>
            </div>
          </div>
        </div>
        <div class='card' >
          <div class='card-body'>
            <div class='col-3' *ngFor='let stock of FB'>
                <b>{{stock.company}} : {{stock.symbol}}</b>
            </div>
            <div class='col-7' *ngFor='let stock of FB'>
                <p><b>Current Price:</b> ${{stock.price}}</p>
                <p><b>Percent Change:</b> {{stock.changePercent}}% </p>
                <p><b>Daily Gain/Loss:</b> ${{stock.change}} </p>       
            </div>
            <div class='col-2'>
                <button type='button' class='btn btn-primary' data-toggle='modal' data-target='#buyFB'>Buy</button>
                <button type='button' class='btn btn-primary' data-toggle='' data-target=''>Sell</button>
            </div>
          </div>
        </div>
  </div>
</body>






<div class="modal fade" id="buyTSLA" tabindex='-1'>
  <div class="modal-dialog" role="document">    
    <div class="modal-content">
      <div class="modal-header" *ngFor='let stocks of TSLA'>
        <h5 class="modal-title" >Buy {{stocks.company}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form>
              <div class="form-group">
                <label for="email" class="col-form-label" *ngFor='let stocks of TSLA'>Number of shares at: ${{stocks.price}}</label>
                <input id='buyForm' type="number" [(ngModel)]='shares' class="form-control" name='bob' required>
              </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)='buyStockButton2("TSLA")'>Buy</button>
      </div>
    </div>
  </div>
</div>


  <div class="modal fade" id="buyAMZN" tabindex='-1'>
    <div class="modal-dialog" role="document">    
      <div class="modal-content">
        <div class="modal-header" *ngFor='let stocks of AMZN'>
          <h5 class="modal-title" >Buy {{stocks.company}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                  <label for="email" class="col-form-label" *ngFor='let stocks of AMZN'>Number of shares at: ${{stocks.price}}</label>
                  <input id='buyForm' type="number" [(ngModel)]='shares' class="form-control" name='bob' required>
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)='buyStockButton2("AMZN")'>Buy</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="buyFB" tabindex='-1'>
  <div class="modal-dialog" role="document">    
    <div class="modal-content">
      <div class="modal-header" *ngFor='let stocks of FB'>
        <h5 class="modal-title" >Buy {{stocks.company}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form>
              <div class="form-group">
                <label for="email" class="col-form-label" *ngFor='let stocks of FB'>Number of shares at: ${{stocks.price}}</label>
                <input id='buyForm' type="number" [(ngModel)]='shares' class="form-control" name='bob' required>
              </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)='buyStockButton2("FB")'>Buy</button>
      </div>
    </div>
  </div>
  </div>



  

