      <div class="modal-content">
        <div class="modal-header" *ngFor='let stocks of symbol'>
          <h5 class="modal-title" >Buy {{stocks.company}}</h5>
        </div>
        <div class="modal-body">
          <div>
            <p class='text-danger'> {{errorMessage}}</p>
          </div>
            <form>
                <div class="form-group">
                  <label class="col-form-label" *ngFor='let stocks of symbol'>Number of shares at: ${{stocks.price}}</label>
                  <input id='buyForm' type="number" [(ngModel)]='shares' class="form-control" name='bob' (keyup.enter)='buyStockButton()'>
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='closeModal()'>Close</button>
          <button type="button" class="btn btn-primary" (click)='buyStockButton()'>Buy</button>
        </div>
      </div>

