#accountInfo {
    display: flex;
    width: 100%;
}

#portfolio {
    margin: 10px 0 10px 0;
    display: flex;
}

#graph {
    margin: 10px 0 0 0;
    height: 350px;
    width: 120%
}


body div a {
    margin: 0 5px 0 0;
    justify-content: right;
}