<body class='container' id='container'>
    <canvas id="myChart" ></canvas>
  <div class='row' id='portfolio'>
    <app-stock-card *ngFor = 'let symbol of accountData' class='col-12' [symbol]="symbol"></app-stock-card>
    <!-- <div class='card'  *ngFor='let stock of accountData'>
      <div class='card-body'>
        <div class='col-3' *ngFor='let stock of accountData'>
            <b>{{stock.company}} : {{stock.symbol}}</b>
        </div>
        <div class='col-7' *ngFor='let stock of accountData'>
            <p><b>Current Price:</b> ${{stock.price}}</p>
            <p><b>Percent Change:</b> {{stock.changePercent}}% </p>
            <p><b>Daily Gain/Loss:</b> ${{stock.change}} </p>       
        </div>
        <div class='col-2'>
            <button type='button' class='btn btn-primary' data-toggle='modal' data-target='#buyStock'(click)='openBuyModal()'>Buy</button>
            <button type='button' class='btn btn-primary' data-toggle='modal' data-target='#sellStock' (click)='openSellModal()'>Sell</button>
          </div>
      </div>
    </div> -->
  </div>
</body>
