#showcase {
    background: url('https://images.unsplash.com/photo-1535320903710-d993d3d77d29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
    // background: url('../../landingImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header div {
    width: 50%;
    background-color: rgba(137, 137, 146, 0.5);
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

div a {
    margin: 0 5px 0 5px;
}