
<header id='showcase'>
  <div class='card'>
      <h1>Fantasy Stock Trading App</h1>
      <p>Create an account to test your trading skills on the live market</p>
        <button type='button' class='btn btn-primary' data-toggle='modal' data-target='#login' (click)='openLoginModal()'>Login/Register</button>
    </div>
</header>

<app-login></app-login>
<hr>
<footer>
  <h3>GitHub Repository</h3>
  <p><a class="blue-text" href="https://github.com/e-remington-lee/finance-tracker">Link to Repository</a></p>
</footer>

