<header id='showcase'>
  <div class='card'>
      <h1>Fantasy Stock Trading App</h1>
      <p>Create an account to test your trading skills on the live market</p>
        <button type='button' class='btn btn-primary' data-toggle='modal' data-target='#Login'>Login</button>
    </div>
</header>


<!-- <div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
      <div class="modal-content">
  
        <div class="modal-c-tabs">
  
          <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
                Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
                Register</a>
            </li>
          </ul>
  
          <div class="tab-content">
            <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
  
              <div class="modal-body mb-1">
                <div class="md-form form-sm mb-5">
                  <i class="fas fa-envelope prefix"></i>
                  <input type="email" id="modalLRInput10" class="form-control form-control-sm validate">
                  <label data-error="wrong" data-success="right" for="modalLRInput10">Your email</label>
                </div>
  
                <div class="md-form form-sm mb-4">
                  <i class="fas fa-lock prefix"></i>
                  <input type="password" id="modalLRInput11" class="form-control form-control-sm validate">
                  <label data-error="wrong" data-success="right" for="modalLRInput11">Your password</label>
                </div>
                <div class="text-center mt-2">
                  <button class="btn btn-info">Log in <i class="fas fa-sign-in ml-1"></i></button>
                </div>
              </div>
              <div class="modal-footer">
                <div class="options text-center text-md-right mt-1">
                  <p>Not a member? <a href="#" class="blue-text">Sign Up</a></p>
                  <p>Forgot <a href="#" class="blue-text">Password?</a></p>
                </div>
                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
              </div>
  
            </div>
            <div class="tab-pane fade" id="panel8" role="tabpanel">
  
              <div class="modal-body">
                <div class="md-form form-sm mb-5">
                  <i class="fas fa-envelope prefix"></i>
                  <input type="email" id="modalLRInput12" class="form-control form-control-sm validate">
                  <label data-error="wrong" data-success="right" for="modalLRInput12">Your email</label>
                </div>
  
                <div class="md-form form-sm mb-5">
                  <i class="fas fa-lock prefix"></i>
                  <input type="password" id="modalLRInput13" class="form-control form-control-sm validate">
                  <label data-error="wrong" data-success="right" for="modalLRInput13">Your password</label>
                </div>
  
                <div class="md-form form-sm mb-4">
                  <i class="fas fa-lock prefix"></i>
                  <input type="password" id="modalLRInput14" class="form-control form-control-sm validate">
                  <label data-error="wrong" data-success="right" for="modalLRInput14">Repeat password</label>
                </div>
  
                <div class="text-center form-sm mt-2">
                  <button class="btn btn-info">Sign up <i class="fas fa-sign-in ml-1"></i></button>
                </div>
  
              </div>
              <div class="modal-footer">
                <div class="options text-right">
                  <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p>
                </div>
                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>

  
  <div class="text-center">
    <a href="" class="btn btn-default btn-rounded my-3" data-toggle="modal" data-target="#modalLRForm">Launch
      Modal LogIn/Register</a>
  </div> -->
  <div class="modal fade" id="Login" tabindex='-1'>
    <div class="modal-dialog" role="document">    
      <div class="modal-content">
        <div class="modal-c-tabs">

            <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
                    Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
                    Register</a>
                </li>
              </ul>
        <div class='tab-content'>
        <div class="modal-body">
            <form>
                <div class="form-group">
                  <label for="email" class="col-form-label">Email</label>
                  <input type="email" class="form-control" id="email" required>
                </div>
                <div class="form-group">
                  <label for="password" class="col-form-label">Password</label>
                  <input type='password' class="form-control" id="password" minlength="8" required>
                </div>
              </form>
              <div class="text-center mt-2">
                  <button type="button" class="btn btn-primary">Login</button>
                </div>
        </div>
      </div>
        <div class="modal-footer justify-content-center">
            <div class="options">
                <p>Not a member? <a href="#" class="blue-text">Sign Up</a></p>
                <p>Forgot <a href="#" class="blue-text">Password?</a></p>
              </div>
          <button type="button" class="btn btn-secondary ml-auto" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
    </div>
  </div>
<div>
    <h3>GitHub Repository</h3>
    <p>Link to it</p>
</div>