<html>
<body>
<nav class='navbar navbar-light navbar-expand-lg fixed-top' id='top-nav'>
  <a routerLink ="/" class='navbar-brand' id='header'>Stock Trading App</a>
    <button class='navbar-toggler' data-toggle='collapse' data-target="#containerLinks">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class='collapse navbar-collapse' id='containerLinks'>
    <ul class ='navbar-nav ml-auto'>
      <li class='navbar-item'><a class='nav-link' routerLink='/buySell'>Trade</a></li>
      <li class='navbar-item'><a class='nav-link' routerLink='/portfolio'>Portfolio</a></li>
      <li class='navbar-item'><a class='nav-link' routerLink='/rulesRanking'>Rules</a></li>
      <li class='navbar-item'><a class='nav-link' routerLink='/account'>{{default}}</a></li>
      <div class="dropdown">
        <button class="dropbtn">Dropdown 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </ul>
  </div>
</nav>
</body>
</html>