<html>
<body>
<nav class='navbar navbar-light navbar-expand-lg fixed-top' id='top-nav'>
  <a routerLink ="/" class='navbar-brand' id='header'>Stock Trading App</a>
    <button class='navbar-toggler' data-toggle='collapse' data-target="#containerLinks">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class='collapse navbar-collapse' id='containerLinks'>
    <ul class ='navbar-nav ml-auto'>
      <li class='navbar-item'><a class='nav-link' routerLink='/buySell'>Trade</a></li>
      <li class='navbar-item'><a class='nav-link' routerLink='/portfolio'>Portfolio</a></li>
      <li class='navbar-item'><a class='nav-link' routerLink='/account'>{{default}}</a></li>
    </ul>
  </div>
</nav>
</body>
</html>