div {
    display: flex;
    width: 100%;
}

.rightBorder {
    padding-right:10px;
    border-right: 1px solid #ccc;
}
div p {
    margin: 0 5px 0 0;
}

button {
    margin: 0 5px 0 0;
}

@media only screen and (max-width: 992px) {

    #stockHeader {
        border-right: 0px;
    }

    .marginSpace {
        justify-content: center;
        margin: 10px 0;
    }
}