<div class='card'>
    <div class='card-body'>
      <div class='col-3' style="border-right: 1px solid #ccc">
          <b>{{stock.company}} : {{stock.symbol}}</b>
      </div>
      <div class='col-7'>
          <p style="padding-right:10px; border-right: 1px solid #ccc"><b>Holding Value: </b> ${{stock.holding_value}}</p>
          <p style="padding-right:10px; border-right: 1px solid #ccc"><b>Shares: </b> {{stock.shares}}</p>
          <p style="padding-right:10px; border-right: 1px solid #ccc"><b>Last Price: </b> ${{stock.current_price}}</p>
          <p><b>Percent Change: </b> {{stock.percent_change}}%</p>  
      </div>
      <div class='col-2'>
        <button type='submit' class='btn btn-primary' (click)='trade()'>Trade</button>
    </div>
    </div>
  </div>
